<!DOCTYPE html>
<html>
<head>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
	{% endblock %}
	<title>Accueil Page</title>
</head>
<link rel="icon" href="/build/images/logo.png" type="image/gif" sizes="18x18">
<body>
{% include 'menu.html.twig' %}

<p class="acceuil1">Gagnez du temps et recrutez les meilleurs talents</p>

<form action="">

<input type="text" class="acceuil2" />

	<img src="build/images/ButtonChercher.png" class="acceuil3" >

</form>


<p class="acceuil6">Siblez des profiles avec les propositions suivants</p>
<form action="">


<input type="button" value="Ingenierie" class="acceuil4" />
<input type="button" value="Architecture" class="acceuil5" />


</form>
 	

	{% block scripts %}
		<script src="{{ asset('build/app.js') }}"></script>
	{% endblock %}
</body>
</html>