<!DOCTYPE html>
<html>
<head>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
	{% endblock %}
</head>
<body>
	

    {% include 'menu.html.twig' %}

   <div class="experience1">
   <form action="">
   
   <table>
   <tr><td><p class="experience2">Authentification</p></td></tr>
   <tr><td><p class="experience3">Email</p></td><td><input type="text" class="experience4"></td></tr>
   <tr><td> <p class="experience3">Mot de passe</p></td><td><input type="text" class="experience4"></td></tr>
    

    <tr><td><input type="button" value="Connection" class="experience5"></td></tr>

   
   </table>
   
   
    </form>

   </div> 

	{% block scripts %}
		<script src="{{ asset('build/app.js') }}"></script>
	{% endblock %}
</body>
</html>