<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome! {% endblock %}</title>
    {% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/app.css') }}"> {% endblock %}
</head>
<link rel="icon" href="/build/images/logo.png" type="image/gif" sizes="18x18">
<body>
{% block body %}
{% endblock %}
{% block javascripts %}<script type="text/javascript"></script>{% endblock %}
</body>
</html>
