{% extends 'base.html.twig' %}
{% block title %}Login Page{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('build/app.css') }}">{% endblock %}
{% block body %}
    <body class="bodyPageAuthentification">
    <h1>Authentification</h1>
    <div class="overlay-text visible">
        <div>
            <div class="login-container">
                <form>
                    <div class="input-group">
                        <label>Email</label>
                        <input type="email">
                    </div>
                    <div class="input-group">
                        <label>Mot de passe</label>
                        <input type="password">
                    </div>
                    <button type="submit" class="login-button">Connexion</button>
                </form>
            </div>
        </div>
    </div>
    </body>
{% endblock %}