<!DOCTYPE html>
<html>
<head>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
	{% endblock %}
</head>
<body>
	

  	<button class="ham"></button>
  <nav class="navbar">
    <ul>
      <li><a class="menuLink" href="#">UPF page officiel</a></li>
      <li><a class="menuLink" href="#">À propos</a></li>
      <li><a class="menuLink" href="#">Cherchez des talans</a></li>
      
    </ul>
  </nav>

	<img src="build/logo.png" class="logo">
	<div class="title">UPF Shining Talent Engine</div>
	<a href="" class="logo2"><img src="build/user.png"></a>
	{% block scripts %}
		<script>
		var navbar = document.querySelector(".navbar")
		var ham = document.querySelector(".ham")

		// toggles hamburger menu in and out when clicking on the hamburger
		function toggleHamburger(){
		navbar.classList.toggle("showNav")
		ham.classList.toggle("showClose")
		}

		ham.addEventListener("click", toggleHamburger)

		// toggle when clicking on links

		// METHOD 1
		var menuLinks = document.querySelectorAll(".menuLink")
		menuLinks.forEach( 
		function(menuLink) { 
			menuLink.addEventListener("click", toggleHamburger) 
		}
		)
			
		</script>
	{% endblock %}
</body>
</html>