<!DOCTYPE html>
<html>
<head>

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/app.css') }}">
	{% endblock %}
</head>
<link rel="icon" href="/build/images/logo.png" type="image/gif" sizes="18x18">
<body>
	
{% include 'menu.html.twig' %}


	{% block scripts %}
		<script src="{{ asset('build/app.js') }}"></script>
	{% endblock %}
</body>
</html>