{% extends 'base.html.twig' %}

{% block title %}Edit Responsable{% endblock %}

{% block body %}
    <h1>Edit Responsable</h1>

    {{ include('responsable/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('responsable_index') }}">back to list</a>

    {{ include('responsable/_delete_form.html.twig') }}
{% endblock %}
