{% extends 'base.html.twig' %}

{% block title %}Responsable index{% endblock %}

{% block body %}
    <h1>Responsable index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for responsable in responsables %}
            <tr>
                <td>{{ responsable.id }}</td>
                <td>
                    <a href="{{ path('responsable_show', {'id': responsable.id}) }}">show</a>
                    <a href="{{ path('responsable_edit', {'id': responsable.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('responsable_new') }}">Create new</a>
{% endblock %}
