<!DOCTYPE html>
<html>
<head>
    <title>Acceuil</title>
    <link rel="stylesheet" href="/css/style.css">
    <script language="JavaScript" src="/js/script.js"></script>
</head>
<body>

{% include 'header.html.twig' %}




</body>
</html>