<html>
<head>
    <link rel="stylesheet" href="css.css">
    <script>
        $('.info dd').each(function() {
            $(this).css({width: $(this).text()+'%'});
        });
    </script>
</head>
<body>

<fieldset class="fieldset1">


    <div class="container">
        <div class="row">
            <input type="checkbox" name="">
            <div class="col-md-12 col-sm-12">

                <img src="https://storage.googleapis.com/solarsis/wadha.png" class="img-circle tm-border" ><i class="info">Hi, I am Mehdi </br>Pays, Ville, Adress</i></br></br>


                <i class="info1">Designer</i></br>
                <i>Designer</i>
                <hr>
                <input type="button" value ="#competence 1" style="background-color: aliceblue; ">
                <input type="button" value ="#competence 2" style="background-color: aliceblue; ">
                <input type="button" value ="#competence 3" style="background-color: aliceblue; ">    ...
            </div>
        </div>
    </div>

</fieldset>
</body>
</html>tml>